aiofiles==0.5.0
alembic==1.5.8
aniso8601==7.0.0
async-exit-stack==1.0.1
async-generator==1.10
atomicwrites==1.4.0
attrs==20.3.0
backcall==0.2.0
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
decorator==5.0.7
dnspython==2.1.0
ecdsa==0.14.1
email-validator==1.1.2
fastapi==0.63.0
Flask==2.0.2
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==1.0.0
gunicorn==20.1.0
h11==0.12.0
idna==2.10
iniconfig==1.1.1
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jupyter-client==6.1.12
jupyter-core==4.7.1
Mako==1.1.4
MarkupSafe==2.0.1
numpy==1.20.2
orjson==3.5.2
packaging==20.9
parso==0.8.2
passlib==1.7.4
pickleshare==0.7.5
Pillow==8.2.0
pluggy==0.13.1
promise==2.3
prompt-toolkit==3.0.18
psycopg2==2.8.6
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.1
Pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
python-dotenv==0.17.0
python-editor==1.0.4
python-jose==3.2.0
python-multipart==0.0.5
pywin32==300
PyYAML==5.4.1
pyzmq==22.0.3
requests==2.25.1
rsa==4.7.2
Rx==1.6.1
six==1.15.0
SQLAlchemy==1.4.11
starlette==0.13.6
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typing-extensions==3.7.4.3
ujson==3.2.0
urllib3==1.26.4
uvicorn==0.13.4
watchgod==0.7
wcwidth==0.2.5
websockets==8.1
Werkzeug==2.0.2
